<!DOCTYPE html>
<html>
<head>
  <title>HandbarsAmdRailsExample</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= requirejs_include_tag("application") do |c| { "main" => "application" } end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
